// common.scss
body {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 27px;
}

.button {
  font-family: $alter-font;
  width: 280px;
  height: 40px;
  text-transform: uppercase;
  background-color: $green_primary;
  color: $white;
  cursor: pointer;
  border: none;
}

.title {
  margin: 0;
  font-family: $alter-font;
  font-size: 36px;
  line-height: 40px;
}

.page__body {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* здесь используйте глобальные селекторы img, body, html и так далее */
