// common.scss
body {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 27px;
}

.button {
  font-family: $alter-font;
  width: 280px;
  height: 40px;
  text-transform: uppercase;
  background-color: $green_primary;
  color: $white;
  cursor: pointer;
  border: none;
}

.title {
  margin: 0;
  font-family: $alter-font;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.logo-text {
  &:is(:hover, :focus-visible, :focus) {
    fill: $concreate_text;
  }

  &:active {
    fill: $concreate_active;
  }
}

.page__body {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: $mobile-width-only) {
  .page-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* здесь используйте глобальные селекторы img, body, html и так далее */
