/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header.scss";

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

:root {
  --green_primary: rgba(104, 183, 56, 0.85);
}

.promo {
  background-image: url("/images/index-background-mobil@1x.png");
  background-color: var(--green_primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("/images/index-background-mobil@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/images/index-background-desktop@1x.png");
  }
}

.upsells::after {
  content: "";
  display: block;
  width: 280px;
  height: 290px;
  background-image: url("/images/catalog-upsells-mobile@1x.png");
  background-color: var(--green_primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("/images/catalog-upsells-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("/images/catalog-upsells-tablet@2x.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("/images/catalog-upsells-desktop@2x.png");
  }
}

// @media (min-width: $tablet-width) {


// }
