.contacts {
  width: 320px;
  height: 474px;
}

.contacts__title {
  margin: 0;
  font-family: $alter-font;
  color: $unique_black;
}

.contacts__information {
  color: $special_dark_grey;
  font-size: 14px;
  line-height: 20px;
}
