.page-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 55px 30px;
  }
}

.page-footer__name {
  padding: 40px 96px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 30px;
  }
}

.social__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding: 20px 94px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: $special_dark_grey;

  &:is(:hover, :focus-visible, :focus) {
    background-color: $green_primary;
  }

  &:active {
    background-color: $green_primary;
    opacity: 0.3;
  }
}

.logo-text {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social-vk {
  mask-image: url("../../icons/social-vkontakte.svg");
}

.social-utube {
  mask-image: url("../../icons/social-youtube.svg");
}

.social-telegram {
  mask-image: url("../../icons/social-telegram.svg");
}

.page-footer__copyright {
  padding: 20px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  text-decoration: none;
  color: $special_dark_grey;
}

.copyright__text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    @include pseudo-element(27px, 34px, $special_dark_grey);
    mask-image: url("../../icons/stack.svg#developer-logo");
  }

  &:is(:hover, :focus-visible, :focus)::after {
    background-color: $green_primary;
  }

  &:active {
    opacity: 0.3;
  }
}
