.guide {
  height: 429px;
  outline: solid 1px $concreate_active;
}

.guide__title {
  padding-bottom: 40px;
  // @media (max-width: $mobile-width-only) {
  //   padding-bottom: 40px;
  // }
}

.guide__list {
  @include resetTagUl;
  color: $special_dark_grey;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    gap: 37px 153px;
    flex-flow: row wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 94px;
  }
}

.guide__item {
  display: flex;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 230px;
    height: 280px;
  }
}

.guide__description {
  margin: 0;
}

.guide__item::before {
  @include pseudo-element(60px, 60px, $white);
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.guide__item:first-child::before {
  background-image: url("../../icons/stack.svg/#leaf-icon");
}

.guide__item:nth-child(2)::before {
  background-image: url("../../icons/stack.svg/#mixture-icon");
}

.guide__item:nth-child(3)::before {
  background-image: url("../../icons/stack.svg/#fork-icon");
}

.guide__item:last-child::before {
  background-image: url("../../icons/stack.svg/#clock-icon");
}
