.header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}

.page-header__name img {
  @media (min-width: $tablet-width) {
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    height: 21px;
  }
}

.page-header__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.page-header__link {
  text-decoration: none;
  font-family: $alter-font;
  color: $black;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
