.products {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.products__title {
  margin: 0;
  font-family: $alter-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 0 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.products__list {
  @include resetTagUl;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
  }
}

.products__item {
  border-bottom: solid 1px $special_grey_3;
  box-sizing: border-box;

  &:last-child {
    @media (min-width: $tablet-width) {
      border-bottom: none;
      box-sizing: border-box;
      align-self: flex-end;
      outline: solid 2px $basic_grey;
    }
  }
}

.products__item:first-child {
  border-top: solid 1px $special_grey_3;
}

