.products__title {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.products__list {
  @include resetTagUl;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
  }
}

.products__item {
  border-bottom: solid 1px $special_grey_3;

  &:last-child {
    @media (min-width: $tablet-width) {
      border-bottom: none;
      box-sizing: border-box;
      align-self: flex-end;
      outline: solid 2px $basic_grey;
    }
  }
}

.products__item:first-child {
  border-top: solid 1px $special_grey_3;
}

