.programs {
  height: 572px;
  outline: solid 1px $concreate_active;

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.programs__list {
  @include resetTagUl;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    gap: 80px;
  }
}

.programs__item {
  background-color: $basic_grey;
  padding-top: 24px;
  display: grid;
  grid-template-columns: auto 1fr;

  &::before {
    @include pseudo-element(50px, 53px, $basic_grey);

    @media (min-width: $tablet-width) {
      grid-column: 2/-1;
      grid-row: 1 / -1;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 374px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}

.programs__name {
  margin: 0;
  font-family: $alter-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
}

.programs__description {
  margin: 0;
  color: $special_dark_grey;
  font-size: 14px;
  line-height: 18px;
  grid-column: 1/-1;

  @media (max-width: $mobile-width-only) {
    padding-top: 22px;

    &::after {
      @include pseudo-element(240px, 1px, $border_line_2);
      margin-top: 23px;
      margin-bottom: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 52px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 2/-1;
    padding: 39px 0 0 52px;
  }
}

.programs-slim::before {
  background-image: url("../../icons/stack.svg/#cat-back1-icon");

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    margin: 41px 52px;
  }
}

.programs-pro::before {
  background-image: url("../../icons/stack.svg/#cat-back2-icon");
  width: 67px;
  height: 50px;

  @media (max-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    margin: 47px 37px;
  }
}

.programs__button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $alter-font;
  font-size: 20px;
  line-height: 100%;
  color: $black;
  display: inline-flex;
  align-items: center;
  padding-bottom: 20px;
  grid-column: 1 / -1;

  &::after {
    @include pseudo-element(32px, 10px, $basic_grey);
    background-image: url("../../icons/stack.svg/#arrow-right-icon");
    padding-left: 25px;
    transform-origin: left center;
    transition: transform 0.3s linear;
  }

  &:is(:hover, :focus-visible, :focus)::after {
    transform: scaleX(1.35);
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: $tablet-width) {
    padding: 23px 0 55px 52px;
  }
}
