.promo {
  background-image:
    linear-gradient(to bottom, $green_primary-85 302px, $white 302px),
    url("../../images/index/index-background-desktop@1x.png");
  background-color: $green_primary-85;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  font-family: $alter-font;
  color: $white;

  @media (min-resolution: 2dppx) {
    background-image: url("/images/index/index-background-mobil@2x.png");
  }

  @media (min-width: $tablet-width) {
    background: none;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to right, $white 50%, $green_primary-85 50%),
      url("../../images/index/index-background-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%, 50% 100%;
    background-position: 0 0, right top;
    margin-bottom: 82px;

    @media (min-resolution: 2dppx) {
      background-image: url("/images/index/index-background-desktop@2x.png");
    }
  }
}

.promo__title {
  max-width: 249px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    padding-top: 65px;
    padding-left: 90px;
    padding-bottom: 40px;
    min-width: 414px;
    text-align: left;
  }
}

.promo__subtitle {
  max-width: 198px;
  margin: 0 auto;
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    color: $black;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    min-width: 283px;
    padding-left: 120px;
    padding-bottom: 21px;
  }
}

.promo__button {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 90px;
    top: 295px;
  }
}

@media (min-width: $desktop-width) {
  .promo__image {
    position: relative;
    top: 29px;
    left: 557px;
  }
}
