.promo {
  background-image: url("../../images/index/index-background-desktop@1x.png");
  background-color: $green_primary-85;
  background-repeat: no-repeat;
  background-position: top center;
  background-blend-mode: luminosity;

  @media (min-resolution: 2dppx) {
    background-image: url("/images/index/index-background-mobil@2x.png");
  }

  @media (min-width: $tablet-width) {
    background: none;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/images/index/index-background-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("/images/index/index-background-desktop@2x.png");
    }
  }
}

.promo__title {
  max-width: 249px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  font-family: $alter-font;
  color: $white;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding-top: 65px;
    padding-left: 90px;
    min-width: 414px;
    text-align: left;
  }
}

.promo__subtitle {
  max-width: 198px;
  margin: 0 auto;
  font-family: $alter-font;
  color: $white;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    color: $black;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    min-width: 283px;
    padding-top: 40px;
    padding-left: 120px;
    padding-bottom: 21px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    inset: 0;
    top: 263px;
    left: 88px;
  }
}
